<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>K-map solver</h1>
        <br>
        <br>
        <br>
        <br>

        <!-- Four kmap AB vs CD-->
        <div class="kmap">
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
            <div class="cell">1</div>
        </div>

        <br>
        <br>
        <br>
        <button id="solveBtn">solve</button>
        <script src="main.js"></script>
    </body>
</html>

