<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>K-map solver</h1>
        <!-- TODO: remove later -->
        <br>
        <br>
        <br>
        <br>

        <main>

            <h4>Solve with filling the Kmap</h4>
            <select id="kmapSize" name="kmapSize">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <!-- Four kmap AB vs CD-->
            <div class="kmap">
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
            </div>

            <!-- TODO: remove later -->
            <br>
            <br>
            <button id="resetBtn">reset</button>
            <br>
            <br>

            <div class="input-minterms">
                <h4>Solve with listing minterms</h4>
                <label for="minterms">Minterms: </label>
                <input type="text" id="minterms" name="minterms" placeholder="e.g: 0, 1, 2">
                <span id="minsCross">&#10008; Invalid input</span>
                <br>
                <label for="dontcares">Don't cares: </label>
                <input type="text" id="dontcares" name="dontcares" placeholder="e.g: 3, 8, 5">
                <span id="dcsCross">&#10008; Invalid input</span>
            </div>

            <div id="solutionBox">
            </div>
        </main>

        <script type="module" src="calc.js"></script>
    </body>
</html>
