<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <!-- Top navigation bar -->
        <nav class="topnav">
            <a class="active" href="/">Calc Mode</a>
            <a href="practice">Practice Mode</a>
            <a href="">How to Use</a>
            <a href="">About</a>
        </nav>

        <h1>K-map solver</h1>
        <!-- TODO: remove later -->
        <br>
        <!-- <br>
        <br>
        <br> -->

        <main>

            <h4>Solve by filling a K-map</h4>

            <div class="kmapSize-box">
                <label for="kmapSize">n = </label>
                <select id="kmapSize" name="kmapSize">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <!-- Four kmap AB vs CD-->
            <div class="kmap">
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
                <div class="cell">
                    <span class = "cell-value">&nbsp;</span><span class="cell-label"></span>
                </div>
            </div>

            <button id="resetBtn">Reset</button>


            <div class="input-vals">
                <h4 style="margin-bottom: 5px">Solve by listing minterms</h4>
                <div class="input-row">
                    <label for="minterms">Minterms: </label>
                    <input type="text" id="minterms" name="minterms" placeholder="e.g: 0, 1, 2">
                    <span id="minsCross"></span>
                </div>
                <div class="input-row">
                    <label for="dontcares">Don't cares: </label>
                    <input type="text" id="dontcares" name="dontcares" placeholder="e.g: 3, 8, 5">
                    <span id="dcsCross"></span>
                </div>

                <span id="intersection"></span>
            </div>

            <div id="solutionBox">
            </div>
            <span id="copy-tooltip">copied!</span>
        </main>

        <script type="module" src="calc.js"></script>
    </body>
</html>
