<!DOCTYPE html>
<html lang="en-us">
    <!-- TODO Use inheritiance like in the HW -->
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <!-- Top navigation bar -->
        <nav class="topnav">
            <a href="/">Calc Mode</a>
            <a class="active" href="practice">Practice Mode</a>
            <a href="">How to Use</a>
            <a href="">About</a>
        </nav>

        <h1>K-map Practice</h1>
        <!-- TODO: remove later -->
        <br>
        <br>
        <br>
        <br>

        <main>

            <div class="kmapPicker-box">
                <select id="kmapId" name="kmapId">
                    <option disabled selected value> -- Select a Kmap -- </option>
                    {% for x in info %}
                    <option value="{{x.id}}">{{x.origin}}</option>
                    {% endfor %}
                </select>
                <label for="kmapSize">n =</label>
                <select id="kmapSize" name="kmapSize">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button id="randBtn">Randomize</button>
            </div>

            <!-- Four kmap AB vs CD-->
            <div class="kmap">
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
            </div>


            <div class="input-sol">
                <div class="input-row">
                    <label for="nPIs">Number of PIs:</label>
                    <input id="nPIs" name="nPIs" type="text">
                    <span id="nPIsCheck"></span>
                </div>
                <div class="input-row">
                    <label for="nEPIs">Number of EPIs:</label>
                    <input id="nEPIs" name="nEPIs" type="text">
                    <span id="nEPIsCheck"></span>
                </div>
                <div class="input-row">
                    <label for="SOP">One possible SOP:</label>
                    <input id="SOP" name="SOP" type="text">
                    <span id="SOPCheck"></span>
                </div>
                <button id="checkBtn">Check</button>
            </div>

            <div id="solutionBox">
            </div>
        </main>

        <script type="module" src="practice.js"></script>
    </body>
</html>

