<!DOCTYPE html>
<html lang="en-us">
    <!-- TODO Use inheritiance like in the HW -->
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>K-map Practice</h1>
        <!-- TODO: remove later -->
        <br>
        <br>
        <br>
        <br>

        <main>
            <select id="kmapSize" name="kmapSize">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <!-- Four kmap AB vs CD-->
            <div class="kmap">
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
            </div>
            <button id="randBtn">Randomize</button>

            <!-- TODO: remove later -->
            <br>
            <br>
            <label for="nPIs">Enter The number of PIs:</label>
            <input id="nPIs" name="nPIs" type="text">
            <br>
            <label for="nEPIs">Enter The number of EPIs:</label>
            <input id="nEPIs" name="nEPIs" type="text">
            <br>
            <label for="SOP">Enter The one possible SOP:</label>
            <input id="SOP" name="SOP" type="text">
            <br>
            <button id="checkBtn">Check</button>
            <br>
            <br>

            <div id="solutionBox">
            </div>
        </main>

        <script type="module" src="practice.js"></script>
    </body>
</html>

