<!DOCTYPE html>
<html lang="en-us">
    <!-- TODO Use inheritiance like in the HW -->
    <head>
        <meta charset="utf-8">
        <title>K-map solver</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <!-- Top navigation bar -->
        <nav class="topnav">
            <a href="/">Calc Mode</a>
            <a class="active" href="practice">Practice Mode</a>
            <a href="">How to Use</a>
            <a href="">About</a>
        </nav>

        <h1>K-map Practice</h1>
        <!-- TODO: remove later -->
        <br>
        <!-- <br>
        <br>
        <br> -->

        <main>

            <div class="kmapPicker-box">
                <select id="kmapId" name="kmapId">
                    <option disabled selected value> -- Select a Kmap -- </option>
                    {% for x in info %}
                    <option value="{{x.id}}">{{x.origin}}</option>
                    {% endfor %}
                </select>
                <label for="kmapSize">n =</label>
                <select id="kmapSize" name="kmapSize">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button id="randBtn">Randomize</button>
            </div>

            <!-- Four kmap AB vs CD-->
            <div class="kmap">
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
                <div class="cell">&nbsp;</div>
            </div>


            <div class="input-sol">
                <div class="input-row">
                    <label for="nEPIs">Number of EPIs:</label>
                    <input id="nEPIs" name="nEPIs" type="text">
                    <span id="nEPIsCheck"></span>
                </div>
                <div class="input-row">
                    <label for="nPIs">Number of PIs:</label>
                    <input id="nPIs" name="nPIs" type="text">
                    <span id="nPIsCheck"></span>
                </div>
                <div class="input-row">
                    <label for="SOP">One possible SOP:</label>
                    <input id="SOP" name="SOP" type="text">
                    <span id="SOPCheck"></span>
                </div>
                
                <button id="checkBtn">Check</button>
                <button id="showSolBtn">Show Solution</button>
                
            </div>

            <div id="solutionBox">
            </div>
            <span id="copy-tooltip">copied!</span>
                <!-- HOW TO USE BUTTON -->
                <button type="submit" class="aboutBtn" onclick="openModal()">ABOUT US</button>
                <div class="modal_container" id="modal_container">
                    <div class="modal" id="modal">

                        <h1>About US</h1>
                        <br>
                        <p>This website is made by some SWE-363 students who struggled with K-Maps when they were studying COE-202
                            and wanted to build a website solely for solving and practicing K-Maps.</p>
                        <br>
                        <!-- <p>With this website, you can:</p>
                        <ul>
                            <li>Solve K-Maps by filling them</li>
                            <li>Solve K-Maps by listing minterms and don't cares</li>
                            <li>Practice K-Maps by generating random K-Maps</li>
                            <li>Practice K-Maps by solving old exams that are provided by the website</li>
                        </ul> -->
                        <br>
                        <p>To contribute to the webiste you can go to our <a href="https://github.com/AzizTw/Kmaps-solver-app">Github page</a>.</p>


                        <button type="button" id="closeBtn" onclick="closeModal()">CLOSE</button>
                    </div>
                </div>
        <script>
            const modal_container = document.getElementById("modal_container");


            function openModal(){
                modal_container.classList.add("show");
            };

            function closeModal(){
                modal_container.classList.remove("show");
            };
        </script>
                    </main>
        </main>

        <script type="module" src="practice.js"></script>
    </body>
</html>

