/* remove bowser styles */
* {
    padding: 0;
    margin: 0;
}


body {
    margin: 0 auto;
    max-width: 50vw;
    text-align: center;
    background-color: #f0fff0; /* pure white hurts eyes */
}

.kmap {
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #689d6a;
    border: #83a598 5px solid;

}

.kmap > .cell {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: lightgray;
    background-color: #282828;
    cursor: pointer;
    /* font-weight: bold; */
}

/* disble highlight on double click */
.kmap > .cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#solutionBox {
    text-align: left;
    display: none;
}


#solutionBox > ul {
    display: flex;
    list-style: none;
    align-items: stretch;
    justify-content: left;
    background-color: #458588;
    gap: 0px;
}

#solutionBox > ul > li {
    flex: 1 1 0px;
    display: block;
    color: lightgray;
    background-color: #282828;
    border: 5px #689d6a solid;
    padding: 10px;
    text-align: center;
}
