/* remove bowser styles */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    /* max-width: 80vw; */
    text-align: center;
    background-color: #f0fff0; /* pure white hurts eyes */
}

.kmap {
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #689d6a;
    border: #83a598 5px solid;

}

.kmap > .cell {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: lightgray;
    background-color: #282828;
    cursor: pointer;
    /* font-weight: bold; */
}

/* disble highlight on double click */
.kmap > .cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#solutionBox {
    text-align: left;
    display: none;
    /* max-width: 100%; */
    /* width: auto; */
    background-color: #689d6a;
    color: lightgray;
}

#solutionBox ul {
    list-style: none;
}

#solutionBox ul.main > li {
    display: block;
    border: solid;
}

#solutionBox ul.main > li > div.legend {
    display: inline-block;
    width: 10%;
    /* margin-right: 10px; */
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    background-color: #f9f5d7;
    color: black;
    padding: 10px;
    text-align: center;
}

#solutionBox ul.sub {
    display: inline-flex;
    justify-content: center;
    /* align-items: stretch; */
    /* border: solid blue; */
}


#solutionBox ul.sub > li {
    background-color: #282828;
    margin: 2px;
    padding: 10px;
    border: solid;
}

/* #solutionBox ul > li { */
/*     display: inline-block; */
/*     margin: 5px; */
/*     flex-wrap: nowrap; */
/*     align-items: stretch; */
/*     justify-content: center; */
/* } */

/* #solutionBox ul.sub > li { */
/*     border: solid blue; */
/*     margin: 2px; */
/*     display: inline-flex; */
/* } */

/* /1* #solutionBox > ul > li > ul { *1/ */
/* /1*     border: solid blue; *1/ */
/* /1*     display: flex; *1/ */
/* /1* } *1/ */

/* /1* #solutionBox > ul > ul { *1/ */
/* /1*     display: flex; *1/ */
/* /1*     list-style: none; *1/ */
/* /1*     align-items: stretch; *1/ */
/* /1*     justify-content: left; *1/ */
/* /1*     background-color: #458588; *1/ */
/* /1*     gap: 0px; *1/ */
/* /1* } *1/ */

/* /1* /2* #solutionBox > ul > li:first-child { *2/ *1/ */
/* /1* /2*     background-color: lightgray; *2/ *1/ */
/* /1* /2* } *2/ *1/ */

/* /1* #solutionBox > ul > li { *1/ */
/* /1*     flex: 1 1 0px; *1/ */
/* /1*     display: block; *1/ */
/* /1*     color: lightgray; *1/ */
/* /1*     background-color: #282828; *1/ */
/* /1*     border: 5px #689d6a solid; *1/ */
/* /1*     padding: 10px; *1/ */
/* /1*     text-align: center; *1/ */
/* /1* } *1/ */
/* >>>>>>> Stashed changes */
